/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: #1a2a3a;
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 2px solid #030308; /* espacio elegante */
}

/* Hover sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}